<h3>Update Admission</h3>
<div class="container">
    <form [hidden]="submitted" [formGroup]="categoryForm" (ngSubmit)="formSubmission()" *ngIf="this.admission.patient.id">



        <div class="form-group">
            <label>Admission Date: </label>
            <p readonly class="form-control">{{admission.dateAdmission | date: 'short'}}</p>
        </div>

        <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" value="{{admission.patient.firstName}}" class="form-control" id="firstName" formControlName="firstName"  required/> 
                <small [hidden]="categoryForm.controls.firstName.valid" class="text-danger">
                        First Name is required
                </small>
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" value="{{admission.patient.lastName}}" class="form-control" id="lastName" formControlName="lastName" required/> 
            <small [hidden]="categoryForm.controls.lastName.valid" class="text-danger">
                    Last Name is required
            </small>
        </div>

        <div class="form-group">
            <label for="name">Date of Birth</label>
            <input value="{{admission.patient.dateBirth}}" (blur)="validateDateCheck()" onkeydown="return false" max="{{currentDate |date:'yyyy-MM-dd'}}" type="date" class=" date-input form-control" id="birthDate" formControlName="birthDate" required/> 
            <small [hidden]="categoryForm.controls.birthDate.valid" class="text-danger">
                    Date of Birth is required
            </small>
            <small [hidden]="!errorDate" class="text-danger">
                    Date of Birth cannot be set in future from current date;
            </small>
        </div>

        <div class="form-group">
                <label for="name">Gender</label>
                <select formControlName="genderForm" id="genderForm" class="form-control" > 
                    <option [selected]="admission.patient.gender ==  ''" value="">-- Please Select --</option>
                    <option [selected]="admission.patient.gender == 'Male'" value="Male">Male</option>
                    <option [selected]="admission.patient.gender == 'Female'" value="Female">Female</option>
                    <option [selected]="admission.patient.gender == 'Intersex'" value="Intersex">Intersex</option>
                    <option [selected]="admission.patient.gender == 'Unknown'" value="Unknown">Unknown</option>
                </select>
                <small [hidden]="categoryForm.controls.genderForm.valid" class="text-danger">
                        Gender is required
                </small>
            </div>

        <div class="form-group" >
            <label for="name">Category</label>
            <select formControlName="catForm" id="catForm" class="form-control" [attr.disabled]="admission.externalID" >
                <option  [selected]="admission.category.id == category.id" *ngFor="let category of categoryList" [ngValue]="category.name">{{category.name}}</option>
            </select>
            <small [hidden]="categoryForm.controls.catForm.valid" class="text-danger">
                    Category is required
            </small>
        </div>

        <div class="form-group" *ngIf="admission.externalID != undefined && admission.externalID != null ">
            <label>Source: </label>
            <p class="form-control" readonly>{{admission.externalID}}</p>
        </div>

        <button type="submit" class="btn btn-success pull-right" [disabled]="!categoryForm.valid">Submit</button>

        <br/><br/>

    </form>

    <div *ngIf="submitted == true">
        <p>Admission has been updated</p>

        <button type="button" class="btn btn-info" (click)="returnHome()"> Return to Admissions List</button>

        <br/><br/><br/><br/><br/><br/>

    </div>

</div>

