<div class="container col-md-10 page-wrap"> 
    
    <div class="col-md-12">

        <h3 class="text-uppercase">Hospital Admissions List</h3>

    <table class="table table-striped table-hover table-bordered rounded">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Admission Date</th>
                <th>Patient Name</th>
                <th>Date of Birth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>10 Oct</td>
                <td>John Smith</td>
                <td>9 Oct</td>
                <td>Edit | Delete</td>

            </tr>
            <tr>
                <td>1</td>
                <td>10 Oct</td>
                <td>John Smith</td>
                <td>9 Oct</td>
                <td>Edit | Delete</td>

            </tr>
            <tr>
                <td>2</td>
                <td>1 Jan</td>
                <td>Donald Attard</td>
                <td>9 Oct</td>
                <td>Edit | Delete</td>

            </tr>
            <tr>
                <td>3</td>
                <td>5 March</td>
                <td>Joe Baini</td>
                <td>9 Oct</td>
                <td>Edit | Delete</td>

            </tr>
            <tr>
                <td>4</td>
                <td>6 Feb</td>
                <td>Joanna Jackson</td>
                <td>9 Oct</td>
                <td>Edit | Delete</td>

            </tr>
        </tbody>

    </table>
    </div>

</div>