<footer class=" font-small bg-dark text-white pt-4 site-footer" >


    <div class="container-fluid text-center text-md-left  ">

      <div class="row">
  
        <div class="col-md-4  ">
  
          <h5 class="text-uppercase">Hospital Location</h5>
          <p>Address: Melbourne 3000</p>
          <p>Country: Australia</p>
  
        </div>
  
        <hr class="">

        <div class="col-md-2 ">

        </div>

        <div class="col-md-4 ">

          <h5 class="text-uppercase">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">Admissions List</a>
            </li>
            <li>
              <a href="">Create Admission</a>
            </li>
          </ul>
  
        </div>
        

      </div>

    </div>


    <div class="text-center "> PM Health Appointments System

    </div>

  
  </footer>
