<h3>Create Admission</h3>
<div class="container">
    <form [hidden]="submitted" [formGroup]="categoryForm" (ngSubmit)="formSubmission()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName"  required/> 
            <small [hidden]="categoryForm.controls.firstName.valid" class="text-danger">
                    First Name is required
            </small>
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" required/> 
            <small [hidden]="categoryForm.controls.lastName.valid" class="text-danger">
                    Last Name is required
            </small>
        </div>

        <div class="form-group">
            <label for="name">Date of Birth</label>
            <input (blur)="validateDateCheck()" onkeydown="return false" max="{{currentDate |date:'yyyy-MM-dd'}}" type="date" class=" date-input form-control" id="birthDate" formControlName="birthDate" required/> 
            <small [hidden]="categoryForm.controls.birthDate.valid" class="text-danger">
                    Date of Birth is required
            </small>
            <small [hidden]="!errorDate" class="text-danger">
                    Date of Birth cannot be set in future from current date;
            </small>
        </div>

        <div class="form-group">
                <label for="name">Gender</label>
                <select formControlName="genderForm" id="genderForm" class="form-control" > 
                    <option selected value="">-- Please Select --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Intersex">Intersex</option>
                    <option value="Unknown">Unknown</option>
                </select>
                <small [hidden]="categoryForm.controls.genderForm.valid" class="text-danger">
                        Gender is required
                </small>
            </div>

        <div class="form-group" >
            <label for="name">Category</label>
            <select formControlName="catForm" id="catForm" class="form-control" > 
                <option selected value="">-- Please Select --</option>
                <option  *ngFor="let category of categoryList" [ngValue]="category.name">{{category.name}}</option>
            </select>
            <small [hidden]="categoryForm.controls.catForm.valid" class="text-danger">
                    Category is required
            </small>
        </div>

        <button type="submit" class="btn btn-success pull-right" [disabled]="disabledCheck()">Submit</button>

        <br/><br/>

    </form>

    <div [hidden]="!submitted">
        <p>Admission has been created</p>

        <button type="button" class="btn btn-info" (click)="returnHome()"> Return to Admissions List</button>

        <br/><br/><br/><br/><br/><br/>

    </div>

</div>

